#reservas_superior {
  padding: 10px;
  text-align: center;
}
#reservas_superior label {
  font-family: verdana;
  font-size: 10pt;
  margin-left: 20px;
  margin-right: 5px;
}
#reservas_superior input {
  padding: 10px;
}
.fundo {
  background-color: #333;
  color: #fff;
}
.fundo a {
  text-decoration: none;
  font-size: 15pt;
  color: #fff;
  margin: 5px;
}
.fundo2 {
  background-color: #444;
  color: #fff;
}
